/* radio style */
input[type=radio] {  
  position: absolute;
  visibility: hidden;
  display: none;
}

.credito{
  color: #9a929e;
  display: inline-block;
  cursor: pointer;
  font-weight: bold;
  padding: 20px 100px;
}

input[type=radio]:checked + label {
  color: #1E88E5;  
}

.radio-group {  
  display: inline-block;
  margin: 20px;
  border-radius: 10px;
  overflow: hidden;
}

/* shadow text */
.shadow {
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
}

/* fixed footer */
#bottomDiv {
    position: absolute;
    bottom: 70px;
    right: 0;
}

/* hide sidenav */
@media screen and (min-width: 992px) {
    #menulinks {
       display: block;
    }
 
    #shmenulinks {
       display: none;
    }
 
 }
 
 @media screen and (max-width: 991px) {
    #shmenulinks {
       display: block;
    }    
 }

 /* make textarea larger */
 textarea.materialize-textarea{height: 6rem;}